dist
node_modules
pnpm-lock.yaml
.env
.cache
__pycache__

# Turbo
.turbo
turbo-build.log

# LEANN
.leann

# Apprentice files
.apprentice
.working

# bmad
_bmad
_bmad-output
.agent/workflows/bmad*
.github/agents/bmd*
.opencode/agent/bmad*
.opencode/command/bmad*
